.order-confirmed-container {

	text-align: center;

	svg#check {
		display: block;
		margin: 5rem auto;
		width: 50%;
		max-width: 10rem;
	}

	h2 {
		font-size: 2.6rem;
		color: $orange;
		font-style: italic;
		margin-bottom: 1.5rem;
	}
	h3 {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 3rem;
	}

	p{

		strong {
			font-weight: bold;
			font-size: 1.6rem;
			color: $orange;
		}
		small {
			font-size: 1.2rem;
			font-style: italic;
			margin-left: .2rem;
		}
	}
}