.order-container {
	h2 {
		font-size: 2rem;
		color: $orange;
		font-style: italic;
		margin-bottom: 3rem;
	}
	strong {
		font-weight: bold;
		font-size: 1.6rem;
		color: $orange;
	}
	.city {
		.input-form {
			display: inline-block;
			width:65%;
			vertical-align: top;
			box-sizing:border-box;
			padding-left: 2rem;

			@media all and (min-width: $tablet) {
				width:75%;
			}

			&:nth-of-type(1) {
				padding-left: 0;
				width:35%;

				@media all and (min-width: $tablet) {
					width: 25%;
				}
			}
		}
	}
	.buttons {
		margin-top: 3rem;
		text-align: right;

		.button {
			margin-left: 1rem;
		}
	}
}