.order-container {
	h2 {
		font-size: 2rem;
		color: $orange;
		font-style: italic;
		margin-bottom: 3rem;
	}
	strong {
		font-weight: bold;
		font-size: 1.6rem;
		color: $orange;
	}
	#stripe-button,
	#paypal-buttons {
		display: block;
		width: 100%;
		max-width: 40rem;
		margin: 2rem auto;
	}
	.or {
		display: block;
		margin: 2rem auto;
		width: 5rem;
		text-align: center;
		position: relative;

		&:after,
		&:before {
			content: '';
			height: .1rem;
			width: 15rem;
			position: absolute;
			top: 50%;
			left: 100%;
			background: $lightGray;
		}

		&:before {
			left: auto;
			right: 100%;
		}
	}
	.center {
		text-align: center;
	}
}