#app-footer {
	background: $black;
	margin-top: 5rem;
	font-size: 1.4rem;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;
	}

	p {
		color: $gray;
		text-align: center;
		padding: .5rem 0 1rem 0;
		font-size: 1.2rem;
	}

	a{
		color: $white;
		text-decoration: none;
		transition: color .3s;
		&:hover{
			color:$orange;
		}
	}
}