@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-1rem);
	}
	60% {
		transform: translateY(-.5rem);
	}
}

#bandeau-home {
	display: block;
	width: 100%;
	height: 100%;
	width: 100%;
	height: calc(100vh - 12rem);
	position: relative;

	@media all and (min-width: $tablet) {
		height: calc(100vh - 13.5rem);
	}

	img {
		display: block;
		width: 100%;
		height: auto;

		@media all and (min-width: $tablet) {
			object-fit: contain;
			object-fit-position: center;
			height: 100%;
		}
	}

	.blockquote {
		text-align: justify;
		color:$gray;
		padding: 0 1rem 0 .5rem;
		box-sizing: border-box;
		font-size: 1.2rem;

		@media all and (min-width: $tablet) {
			position: absolute;
			top: 50%;
			left: calc(50% - 3rem);
			padding: 0 5rem 0 3rem;
			font-size: 1.4rem;
			width: 50%;
			left: 50%;
			transform: translate(0, -120%);
			width: calc(50% + 3rem);
			max-width: 45rem;
		}

		strong {
			color:$black;
			font-weight: bold;
			display: block;
			margin-bottom: 1rem;
			font-size: 2rem;

			@media all and (min-width: $tablet) {
				font-size: 3rem;
			}
		}

		b {
			color: $lightOrange;
		}
	}

	.scroll {
		font-size: 3rem;
		position: absolute;
		bottom: 3rem;
		left: 0;
		width: 100%;
		text-align: center;
		text-decoration: none;
		color: $black;

		-moz-animation: bounce 2s infinite;
		-webkit-animation: bounce 2s infinite;
		animation: bounce 2s infinite;
	}
}