.root-container {
	.logos {
		width: 100%;
		text-align: center;

		img {

			max-height: 5rem;
			max-width: 20rem;
			margin: .5rem;
			display: inline-block;
			vertical-align: middle;
		}
	}
	video {
		width: 100%;
	}
	.product {
		position: relative;
		border: .1rem solid $orange;
		border-left: none;
		padding: 3rem;
		margin: 10rem 0 10rem 5rem;
		width: 90%;
		width: calc(100% - 5rem);
		box-sizing: border-box;

		@media all and (min-width: $tablet) {
			padding: 3rem 3rem 3rem 10rem; 
		}

		h2 {
		
			position: absolute;
			top: 0; left: -5rem;
			transform: translateY(-50%);
			background-color: $white;
			padding-right: .5rem;
			display: inline-block;
			font-size: 3rem;
			font-weight: bold;
		}

		img {
			position: absolute;
			top: 5rem; left: -5rem;
			height:auto;
			max-height: 100%;
			max-width: 5rem;
			@media all and (min-width: $tablet) {
				max-width: 14rem;
			}
		}

		p{
			text-align: justify;
			margin: 1rem 0;
		}
	}

	#avant-apres {
		display: block;
		width: 100%;
		height: auto;
		margin-top: 5rem;
		img {
			width: 100%;
			height: auto;
		}
	}
}