.root-container {
	.logos {
		width: 100%;
		text-align: center;

		img {

			max-height: 5rem;
			max-width: 20rem;
			margin: .5rem;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.product {
		position: relative;
		border: .1rem solid $orange;
		border-left: none;
		padding: 3rem;
		margin: 10rem 0 10rem 5rem;
		width: 90%;
		width: calc(100% - 5rem);
		box-sizing: border-box;

		@media all and (min-width: $tablet) {
			padding: 3rem 3rem 3rem 10rem; 
		}

		

		img {
			position: absolute;
			top: 5rem; left: -5rem;
			height:auto;
			max-height: 100%;
			max-width: 5rem;
			@media all and (min-width: $tablet) {
				max-width: 14rem;
			}
		}

		
	}

	#avant-apres {
		display: block;
		width: 100%;
		height: auto;
		margin-top: 5rem;
		img {
			width: 100%;
			height: auto;
		}
	}


	h2 {
		font-size: 3rem;
		font-weight: bold;
		text-align: center;
		margin: 2rem 0;
	}

	div#video {
		@media all and (min-width: $tablet) {
			display: flex;
			align-items: flex-start;
		}

		& > div,
		& > video {
			height: auto;
			width: 100%;
			@media all and (min-width: $tablet) {
				flex: 0 0 48%;
				width: 48%;
				box-sizing: border-box;
			}

			p{
				margin-bottom: .5rem;

				strong {
					font-weight: bold;
				}
			}
		}

		& > div {
			@media all and (min-width: $tablet) {
				flex: 0 0 52%;
				width: 52%;
				padding-right: 1rem;
			}
		}
	}

	#flyer {
		width: 100%;
		height: auto;
	}
}