@font-face {
	font-family: 'Butler';
	src: url('/assets/fonts/Butler/Butler.woff2') format('woff2'),
		url('/assets/fonts/Butler/Butler.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 62.5%;
	body {
		font-size: 1.2rem;
		font-family: 'Open Sans', sans-serif;
		line-height: 1.4;

		#app-content {
			display: block;
			width: 100%;
			height: auto;
			max-width: $desktop;
			margin: auto;
			padding: 0 1rem;
			box-sizing: border-box;
		}
	}

	.basket-page {
		@media all and (min-width: $desktop) {
			background: transparent url(/assets/images/bandeau.png) no-repeat;
			background-size: 110rem auto;
			background-position: bottom -5rem left -40rem;
		}
	}
}